<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.tehel.start" version = "0.2.0">

	<name>Gamebooks</name>

	<description>Gamebooks player</description>

	<author href="http://www.looten.net" email="phonegap@looten.net">Tehel</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<!--gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/-->
	</gap:platforms>

	<icon src="whaaaa.png" gap:role="default" />

	<!--feature name="http://api.phonegap.com/1.0/geolocation"/-->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
